<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="character.properties "/>

    <bean id="weaponBean1"
          class="ru.osada.springLes.Sword">
    </bean>

    <bean id="weaponBean2"
          class="ru.osada.springLes.FireBall">
    </bean>

    <bean id="characterBean"
          class="ru.osada.springLes.Character"
    scope="prototype">
        <property name="race" value="${Character.race}"/>
        <property name="level" value="${Character.level}"/>
        <constructor-arg ref="weaponBean2"/>
    </bean>
</beans>